*{
    margin: 0;
    padding: 0;
}
body,html{
    overflow-X: hidden;
}
.container{
    justify-content: center;
    padding: 20px;
    
}
.container img{
    width: 150px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}
.imgMain{
    width: 154px;
    height: 24px;
    margin-top: 10px;
    margin-right: 120px;
    
}
ul li{
    margin: 15px;
}
ul{
    display: flex;
    list-style: none;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Inter', sans-serif;
}
.btnlogin{
    width: 77px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color:#4CAF4F;
    margin: 10px;
    
}
.btnSignup{
     width: 77px;
     height: 40px;
     border: none;
     border-radius: 5px;
     background-color:  #4CAF4F;
     color:#ffffff;
     margin: 10px;
}
.container1{
    padding: 96px 144px;
    align-items: center;
    min-height: 200px;
    min-width: 100px;
    
}
.imgMain1{
   height: 300px;
   width: 350px;
  margin-top: 60px;
}
.container1 row{
    display: flex;
    
}
.col-md-4{
    display: block;
    margin: 0 auto;
    align-items: center;
    background-color: #89939E;
}
.container1 span{
    color: #4CAF4F;
}
h1{
    color: #4d4d4d;
    font-size: 44.548px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left:80px;
   margin-top: 60px;
}


.btnRegister{
    width: 128px;
    height: 52px;
    border: none;
    background-color: #4CAF4F;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
    margin-top: 32px;
    margin-left: 80px;
}
.container2{
    align-items: center;
}
h2{
    text-align: center;
    color: #4d4d4d;
    margin-top: 40px;
}
p{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.imgMain2{
    display: flex;
    padding: 0px 144px;
    margin: 0 auto;
    align-items: center;
    gap: 120px;
}
.container3 img{
    height: 70px;
    width: 70px;
    margin-left: 100px;
}
.container3{
    margin: 0 auto;
    display: flex;
    gap: 140px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    font-family: 'inter',sans-serif;

}
.container3 h3{
    color: #717171;
    text-align: center;
}
.icon{
    margin-top: 60px;
    
}
.icon p{
    color: #4d4d4d;
}
.icon h3{
    color: #717171;
    
}
.container4 img{
    height: 350px;
    width: 400px;
    margin-left: 50px;
}
.container4{
    display: flex;
    align-items: flex-start;
    padding: 64px 144px;
}
.H2P p{
    font-family: 'inter',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.btnLearnMore{
    background-color: #4CAF4F;
    color: #ffffff;
    height: 50px;
    width: 100px;
    border: none;
   margin-left: 20px;
}
.H2P{
   margin-left: 70px;
   flex-direction: column;
    
}
.container5icons{
    height: 48px;
    width: 48px;
    
}
.row{
    background-color: #F5F7FA;
    
}
.col-md-2{
    flex-direction: column;
}
.container5{
    display: flex;
    width: 661px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 8px;
    margin-top: 50px;
    margin-left: 130px;
    font-family:'inter',sans-serif ;
    
}
.container5 span{
    color: #4CAF4F;
}
.container6{
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
}

.container7{
    background-color: #F5F7FA;
}
.container7 img{
    width: 326px;
    height: 326px;
    
}
.container7 h3{
    display: flex;
    text-align: center;
    font-size: small;
    align-items: center;
    font-family: inter;
    justify-content: center;
    margin-top: -300px;
    margin-left: 300px;
}
.container7 span{
    color: #4CAF4F;
    margin-right: 150px;
    
}
.container7 h4{
    margin-left: 510px;
    font-size: small;
}
.imgMain3{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 500px;
    background-color: #F5F7FA;
}
.imgMain3 span{
    font-size: small;
    color: #4CAF4F;
}
.container9{
    display: flex;
    width: 1440px;
    padding: 0px 144px;
    justify-content: space-between;
    align-items: center;
}
.container9 img{
    width: 300px;
    height: 230px;
    margin-right: 70px;
}

.Box{
    display: flex;
    padding: 9px;
    flex-direction: column;
    border-radius: 8px;
    gap: 20px;
    width: 250px;
    height: 150px;
    margin-left: 25px;
    justify-content: center;
    transform: translateY(-70%);
    border-radius: 8px;
    background: var(--neutral-silver, #F5F7FA);
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}
.container9 span{
    color: #4CAF4F;
    text-align: center;
    margin-bottom: 25px;
}
.container10{
    background-color: #F5F7FA;
}
.btnGetaDemo{
    color: #ffffff;
    background-color: #4CAF4F;
    border: none;
    margin-left: 630px;
    margin-bottom: 20px;
    height: 40px;
    width: 100px;
}

.container11{
    background-color: #263238;
    color: #ffffff;
    display: flex;
    padding: 64px 165px;
    align-items: flex-start;
    gap: 125px;
    font-family: 'inter',sans-serif;
    margin-bottom: 60px;
}
.ulli{
    display: block;
}
.h5{
    margin-top: 25px;
}